<div class="image-form">
	<%= form_for(@office) do |f| %>
		<div class="field">
			<%= f.text_field :title, :placeholder => "Tiêu đề", :class => "title-image" %>
		</div>
		<div class="field">
			<%= f.text_field :owner, :placeholder => "Người gửi (để trống nếu là admin gửi)", :class => "owner-image" %>
		</div>
		<div class="field">
			<div class="add-image-button"></div>
			<div class="add-image-infomation">
				<ul>
					<li class="type">Ảnh có định dạng : PNG JPG hoặc GIF</li>
					<li class="size">Dung lượng ảnh không quá 10 Mb</li>
				</ul>
			</div>
			<div class="clear-fix"></div>
			<span class="add-image-notice" name="now">xxx</span>
			<%= f.file_field :image, :class => "hidden-element add-image-field" %>
		</div>
		<div class="actions">
			<%= f.submit 'Tạo ảnh mới', :class => 'create-image', :onclick => "return validateAddNewImageForm();"%>
		</div>
	<% end %>
</div>
