
<% @offices.each do |office| %>
  <div class="page-secction funny-section" id="<%= office.id %>">
    <h3 class="title">
      <%#= link_to 'Edit', edit_office_path(office) %>
      <%#= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to(office) do %>
        <%= office.title.capitalize %>
      <% end %>
    </h3>
    <h4 class="owner">by <%= office.owner.capitalize %></h4>
    <h5 class="create-time"><%= office.created_at.in_time_zone(7).strftime("in %B - %d - %Y") %></h5>
    <div class="image-box">
      <img src="<%= office.image %>" alt="<%= office.slug %>" class="image-funny" name"">
      <div class="image-shadow">
        <div>
          <span class="like-count"><%= office.like %></span>
          <div class="like-icon" name="<%= office.id %>" ></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<hr />
<%#= link_to 'New Office', new_office_path %>
