<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @office.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @office.owner %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @office.image %>" />
  
</p>

<p>
  <strong>Like:</strong>
  <%= @office.like %>
</p>

<a class="facebook-share-button" target="top" href="<%= "http://www.facebook.com/sharer.php?u=" + @currentUrl %>">Share on facebook | <span><%= facebook_shares(@currentUrl)['share_count'] %></span></a>
<br />
<div class="fb-comments" data-href="<%= @currentUrl %>" data-numposts="10"></div>
<br />
<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
