<!DOCTYPE html>
<html>
  <head>
    <title>Congso.club</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo-icon.png' %>
  </head>
  <body>
    <!--facebook sdk-->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '717508901713184',
          xfbml      : true,
          version    : 'v2.5'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/vi_VN/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--end call facebook sdk-->
    <!-- notice box -->
    <div class="notice-box">
      <div class="notice-content">
        <div class="notice-text">
          <p class="text">Notice box</p>    
        </div>
      </div>
    </div>
    <!-- end notice box -->
    <!-- header -->
    <header>
      <div class="header-box">
        <h1 class="logo-text">Congso.club</h1>
        <div class="clear-fix"></div>
        <div class="header-navigation-bar">
          <ul>
            <li><%= link_to "Trang chủ", root_url %></li>
            <li><%= link_to "Liên hệ", contact_path %></li>
            <li><%= link_to "Đăng nhập", contact_path %></li>
            <div class="clear-fix"></div>
          </ul>
        </div>
      </div>
    </header>
    <!-- end header -->
    <!-- main content -->
    <div class="main-content">
      <%= yield %>
    </div>
    <!-- end main content -->
    <!-- follow box -->
    <div class="page-secction follow-us-by-mail">
      <h2 class="page-title">Đăng kí để cười nhiều hơn mỗi ngày</h2>
      <div class="follow">
        <input class= "name" type="text" name="name" value="" placeholder="Tên của bạn">
        <input class= "email" type="text" name="email" value="" placeholder="Email">
        <button id="send-email" >Theo dõi</button>
        <div class="clear-fix"></div>
      </div>
    </div>
    <!-- footer -->
    <footer class="page-secction footer-page">
      <ul>
        <li class="icon facebook"></li>
        <li class="icon twitter"></li>
        <li class="icon googleplus"></li>
        <li class="icon youtube"></li>
        <div class="clear-fix"></div>
      </ul>
      <div class="design-by">
        <div>
          <h2 id="design-text" class="page-title">Design by </h2>
          <%= link_to (zorba_path) do %>
            <%= image_tag("per-logo.png", class: "zorba-logo") %>
          <% end %>
          <div class="clear-fix"></div>
        </div>
      </div>
      <hr />
    </footer>
    <!-- end footer -->
  </body>
</html>
